section.back_to_top {
	position: fixed;	
	right: 25px;
	bottom: 25px;
	height: auto;
	z-index: 1000;
}
.back_to_top #totop  {
	display: none;
	width: 52px;
	height: 52px;
	border-radius: 52px;
	border: 2px solid #e8e8e8;
	background: transparent;	
	line-height: 52px;

}
#totop {
	text-align: center;
	display: inline-block;
}
.back_to_top i {
	font-size: 22px;
	color: #B0B0B0;
}
.back_to_top #totop:hover {
	background-color: #e8e8e8;
	cursor: pointer;
}