section.content4 {	
	padding-top: 88px;
	padding-bottom: 35px;
	background-color: #f8f8f8;	
	height: 500px;
}
.content4_container {
	position: relative;
	width: 1100px;
	margin: 0 auto;
}
.content4_inner {
	font-family: 'Raleway',  sans-serif;		
}
.content4_inner .screen-4 {
	float: left;
	/*width: 376.66px;*/
	width: 33.333333%;
	padding:0 15px;
}
.content4_inner .screen-4 #iconContent41, #iconContent42, #iconContent43, #iconContent44, #iconContent45, #iconContent46, #iconContent47, #iconContent48, #iconContent49 {
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	background-color: black;	
	transform: scale(0, 0);
}


.content4_inner .screen-4 #iconContent41 {
	transition-delay: 0.2s;
	transition-duration: 0.3s;	
}
.content4_inner .screen-4 #iconContent42 {
	transition-delay: 0.4s;
	transition-duration: 0.3s;	
}
.content4_inner .screen-4 #iconContent43 {
	transition-delay: 0.6s;
	transition-duration: 0.3s;	
}
.content4_inner .screen-4 #iconContent44 {
	transition-delay: 0.8s;
	transition-duration: 0.3s;	
}
.content4_inner .screen-4 #iconContent45 {
	transition-delay: 1s;
	transition-duration: 0.3s;	
}
.content4_inner .screen-4 #iconContent46 {
	transition-delay: 1.2s;
	transition-duration: 0.3s;	
}
.content4_inner .screen-4 #iconContent47 {
	transition-delay: 1.4s;
	transition-duration: 0.3s;	
}
.content4_inner .screen-4 #iconContent48 {
	transition-delay: 1.6s;
	transition-duration: 0.3s;	
}
.content4_inner .screen-4 #iconContent49 {
	transition-delay: 1.8s;
	transition-duration: 0.3s;	
}


.content4_inner .screen-4 #iconContent41, #iconContent42, #iconContent43, #iconContent44, #iconContent45, #iconContent46, #iconContent47, #iconContent48, #iconContent49 i {
	/*position: relative;*/
	font-size: 17px;
	color: white;
	line-height: 40px;
}
.content4_inner .screen-4 .icon_content {	
	position: relative;
	padding-left: 55px;	
}
section.content4 h5{
	margin: 0 !important;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 1px;
}
section.content4 p {
	margin: 16px 0 0 0;
	color: #818181;
	line-height: 26px;
}
.content4_inner .space {
	margin: 0 auto 44px auto;
	height: 1px;
}