.phuc-wrap-container-mobile-menu {
  display: none;
  /* position: absolute; */
}

#phuc-collapse-menu {
  width: 100vw;
  background-color: white;
}

.phuc-carousel {
  position: absolute; 
  top:0px;
  z-index: -1; 
  transition-duration: 0.5s;	
  transition-timing-function: ease; 
  transition-property: top;
}

.wrap-menu {
  top: -60px;
}

.phuc-bnt-menu {
  background: white;
  color: #ABA0A1;
  border: none;
  outline: none;
  width: 94%;  
  text-align: left;
}

.phuc-icon-angle {
  float: right;
  padding-right: 5px;
}

.phuc-menu-style {
  padding: 8px 0;
  border-bottom: 1px solid #EAEAEA;
  text-transform: capitalize;
}

.phuc-submenu {
  color: #ABA0A1;
}

.phuc-submenu:hover {
  text-decoration: none;
  color: #F7606B;
}

@media (max-width: 805px) {
  .phuc-wrap-container-mobile-menu {
    display: initial;
  }
  .main_menu, #container_menu {
    display: none;
  }
  .phuc-res-popup {
    position: relative;
    top: 40px;
    margin: 30px 0;
  }
  .phuc-responsive-button {
    display: none;
  }
  .wrap-menu {
    top: 0px;
  }
  .container_menu {
    display: none;
  }
  #wrap_title h2 {
    font-size: 40px;
  }
  #wrap_title {
    width: 100%;
  }
  #wrap_title p span {
    font-size: 15px;
  }
  .main {
    top: 0;
  }
  .content1_inner .menu_icons .screen-3  {
    width: auto;	
	  float: none;
  }
  .content4_inner .screen-4, .content5_container {
    width: 100vw;
    float: none;
  }
  .content1_inner .menu_icons {
    height: auto;
  }
  .content2_container, .content3_container .btn_container, .content3_container .btn_container .btn, .content3_container {
    width: auto;
  }
  section.content4 {
    height: auto;
  }
  .content5_inner #imgContent5 {
    position: static;
    width: auto;
  }
  .content5_inner .text {
    width: auto;
    margin: 0;
  }
}