.phuc-wrap-container-mobile-menu {
  display: none;
  /* position: absolute; */
}

#phuc-collapse-menu {
  width: 100vw;
  background-color: white;
}

.phuc-carousel {
  position: absolute; 
  top:0px;
  z-index: -1; 
  transition-duration: 0.5s;	
  transition-timing-function: ease; 
  transition-property: top;
}

.wrap-menu {
  top: -60px;
}

.phuc-bnt-menu {
  background: white;
  color: #ABA0A1;
  border: none;
  outline: none;
  width: 94%;  
  text-align: left;
}

.phuc-icon-angle {
  float: right;
  padding-right: 5px;
}

.phuc-menu-style {
  padding: 8px 0;
  border-bottom: 1px solid #EAEAEA;
  text-transform: capitalize;
}

.phuc-submenu {
  color: #ABA0A1;
}

.phuc-submenu:hover {
  text-decoration: none;
  color: #F7606B;
}

@media (max-width: 805px) {
  .phuc-wrap-container-mobile-menu {
    display: initial;
  }
  .main_menu, #container_menu {
    display: none;
  }
  .phuc-res-popup {
    position: relative;
    top: 40px;
    margin: 30px 0;
  }
  .phuc-responsive-button, .content7_inner .space1 {
    display: none;
  }
  .wrap-menu {
    top: 0px;
  }
  .container_menu {
    display: none;
  }
  #wrap_title h2 {
    font-size: 40px;
  }
  #wrap_title {
    width: 100%;
  }
  #wrap_title p span {
    font-size: 15px;
  }
  .main {
    top: 0;
  }
  .content1_inner .menu_icons .screen-3, .footer_inner .footer_1, .footer_inner .footer_2,
  .footer_inner .footer_3, .footer_inner .footer_4  {
    width: auto;	
	  float: none;
  }
  .footer_inner .footer_1, .footer_inner .footer_2, .footer_inner .footer_3 {
    padding: 0 15px;
  }
  .footer_inner .footer_4 {
    padding: 20px 15px;
  }
  .content4_inner .screen-4, .content5_container {
    width: 100vw;
    float: none;
    height: auto;
  }
  .content1_inner .menu_icons, section.content4, .content7_container, .content8_container,
  .footer_container {
    height: auto;
  }
  .content2_container, .content3_container .btn_container, .content3_container .btn_container .btn, 
  .content3_container, .content6_container, .content7_container, .content6_inner .wrap_img,
  .content8_container, .content8_inner, .content8_inner ul, .content8_inner .button_content8,
  .content9_container, .footer_container, .content4_container {
    width: auto;
  }
  .content5_inner #imgContent5 {
    position: static;
    width: auto;
  }
  .content5_inner .text {
    width: auto;
    margin: 0;
  }
  .content5_inner .text {
    position: static;
    padding: 0 30px;
  }
  .content7_inner .text {
    position: static;
    width: auto;
    padding: 0 30px;
    margin-bottom: 70px;
  }
  .content7_inner #imgContent7 {
    position: relative;
    width: auto;
    float: none;
  }
  .content6_inner .wrap_img ul {
    padding: 0 0 0 15%;
  }
}