body {
	margin: 0;
	padding: 0;
}

/*Search_bar*/ 
#wrap_search_top {	
	position: absolute;
	height: 50px;
	width: 1349px;
	padding: 0 124.5px;
	background-color: black;	
	line-height: 50px;
	color: #888888;	
}
input:focus {outline: 0;}
#wrap_search_top input {
	margin: 15px 0;
	line-height: 20px;
	padding: 0 0 0 10px;
	border: 0px !important;
	width: 90%;
	background-color: black;
}
#wrap_search_top input[type="submit"] {
	display: none;
}
#wrap_search_top .fa-times:hover {cursor: pointer;} 


#container_menu {	
	margin: 0 45px 0 45px;
	height: 100px;
	padding: 0 80px 0 80px;			
}
#container_menu img {
	height: 90px;
	background-color: transparent;
	margin: 5px 0;	
}
#container_menu a:hover{
	cursor: pointer;
}


/*Căn lề menu*/
.inner_right {
	float: right;
	height: 100px;
	width: auto;
}
.inner_right .button {
	float: right;
	width: auto;	
	height: 100px;	
  	display: flex;
  	justify-content: center;
  	align-items: center;
}
.inner_right .button i{
	color: white;
	padding: 0 12px;
}

.inner_right .main_menu {
 	float: left;
}
 .main_menu, .main_menu ul#menu {
 	width: auto;
 	height: 100px;
 	margin: 0 !important;
 	padding: 0 !important;
 }
 .main_menu #menu li {
 	display: inline-block;
 }
ul#menu .dropdown > a{
	line-height: 100px;
}


 /*Edit Text Menu*/
ul#menu > li > a {
 	color: white;
 	/*color: black;*/
 	text-decoration: none;
}
.inner_right .main_menu > ul > li { /*Edit chỉ menu chính*/
 	color: white; 	
 	font-size: 13px;
 	font-weight: 600;
 	font-family: 'Raleway', sans-serif;
 	padding: 0 12px; 	
 }

/*-------------------Xổ Menu*/
/*Xổ menu con PAGES*/
.dropdown {    
	position: relative;
}
.dropdown_content1 {
	background-color: black;	
	width: 225px;
	height: auto; /*170*/
	padding: 0 !important;
	top: 60px;
}
.dropdown_content1 li {
	width: 225px;
	padding: 0 !important;	
}
.dropdown_content1 li a {
	text-decoration: none;		
}
.dropdown_content1 span {
	color: white;
	opacity: 0.8;
	font-weight: 300;
	font-size: 11px;
}
.dropdown_content1 {
	display: none;	
	margin-top: 16px;
}
.dropdown_content1 li:first-child a{padding-top: 16px;}
.dropdown_content1 li:last-child  a{padding-bottom: 16px;}
.dropdown_content1 li a  {
	display: block;
	padding: 0 0 16px 20px; 	
}
.dropdown_content1 {position: absolute;}
.dropdown:hover .dropdown_content1 {
	display: block;
}

/*Xổ menu cone WORK*/
.dropdown_content2 {
	background-color: black;	
	width: 1020px;
	height: 273px;
	padding: 0 !important;
	top: 76px;
	left: -880px;	
}
.dropdown_content2 li{
	width: 249px;	
}
.dropdown_content2 li span {
	color: white;
	opacity: 0.8;
	font-weight: 300;
	font-size: 11px;
}
.dropdown_content2 li a{	
	text-decoration: none;
}
.dropdown_content2_header {
	height: 273px; 
	width: 270px;
	padding: 0 10px;	
}
.dropdown_content2_header > a {	
	padding: 11px 9px;
	margin-bottom: 7px;	
	display: inline-block;	
}
.dropdown_content2_header > a > span {font-size: 13px; opacity: 1;}
.dropdown_content2_header ul > li > a{
	padding: 9px 9px;
	display: inline-block;
}
.dropdown_content2 {
	position: absolute;
	display: none;
}
.dropdown:hover .dropdown_content2 {
	display: block;
}
.dropdown_content2_2_header {border-left: 1px solid #3d3d3d;}

/*Xổ menu BLOG*/
.dropdown_content3 {
	background-color: black;	
	width: 225px;
	height: auto; /*170*/
	padding: 16px 20px 0px 0;
	top: 76px;
	right: 0;	
}
.dropdown_content3 li {
	width: 225px;
	text-align: right;
	padding: 0 16px 16px 0 ;	
}
.dropdown_content3 li a {
	text-decoration: none;		
}
.dropdown_content3 span {
	color: white;
	opacity: 0.8;
	font-weight: 300;
	font-size: 11px;	
}
.dropdown_content3 li span {
	text-align: right;
	word-spacing: 1px;
	letter-spacing: 1px;
}
.dropdown_content3 .fa {
	color: white;
	float: left;
	padding-left: 30px;
	opacity: 0.8;
}
.dropdown_content3 {
	display: none;
	position: absolute;	
}
.dropdown:hover .dropdown_content3 {
	display: block;	
}

.dropdown_content3_3 {
	position: absolute;
	left: -100%;
	background-color: black;
	width: 225px;
	height: auto;
	padding: 16px 20px 0px 0;
	top: 138px;	
	display: none;
}
.dropdown_content3_3 li {
	padding: 0 16px 16px 0; 
	word-spacing: 1px;
	letter-spacing: 1px;	
}
.dropdown_content3 li:last-child:hover .dropdown_content3_3 {display: block;}


/*Background - Carousel*/
.carousel-control span:first-child {
	position: absolute;
	width: 54px;
	height: 54px;
	border: 2px solid #fff;
	border-radius: 56px;
	top: 40%;
}
.left .pre-nav {	
	left: 23px;
	padding-top: 8px; 
}
.right .nex-nav {	
	right: 23px;
	padding-top: 8px; 
}
.carousel-control .fa {
	font-size: 30px;
}

/*------------Title*/

.wrap_title {	
	position: absolute;
	height: auto;
	width: 80.527vw;	
	z-index: -1;
	top: 19.4vw;	
	left: 50%;
	transform: translateX(-50%);	
	text-align: center;	

}
.wrap_title h2 {
	color: #ffffff;
	/*color: black;*/
	font-size: 6.59vw;  /*90px*/
	line-height: 7.32vw;  /*100px*/
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	text-shadow: none;
}
.wrap_title p span {
	color: #ffffff;
	/*color: black;*/
	font-size: 1.464vw; /*20px*/
	line-height: 30px;
	font-family: 'Raleway', sans-serif;
	opacity: 0.8;
	text-shadow: none;
}
.wrap_title button > a {
	text-decoration: none;	
	color: #fff;
	font-weight: 600;
	letter-spacing: 2px;
	border-width: 1px;
}
.wrap_title button {
	height: 2.855vw;    /*39px*/
	width: auto;
	font-size: 13px;
	padding: 0 23px;
	margin: 10px 4px 0 4px; 		
}
.wrap_title .but1 {
	background-color: black;
	border: 2px solid black;
}
.wrap_title .but2 {
	background-color: transparent;
	border: 2px solid #fff;
}  
.wrap_title button:hover {
	background-color: #f53644;
	border: 2px solid #f53644;
}

.wrap_title {	
	animation-name: move;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate; 
	animation-delay: 0s;
}

@keyframes move {
    0% {top: 22.694vw; opacity: 0;}
    20%, 80% {top: 19.4vw; opacity: 1} 
    100% {top: 22.694vw; opacity: 0}
}

/*Popup_menu*/
#wrap_popup_menu {
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	height: 800px;
	position: absolute;
	top: 0;
	padding: 100px 0;	
	display: none;	
}
#wrap_popup_menu img {
	position: absolute;
	height: 90px;
	width: 172.406px;
	margin-left: 125px;
	top: 5px;
}
#wrap_popup_menu i{
	position: absolute;
	color: white;
	float: right;
	width: 36px;
	height: 20px;
	top: 42px;
	right: 112px;
	cursor: pointer;
}
#wrap_popup_menu .popup_menu_inner {
	padding: 100px 0;	
}
.popup_menu_inner nav ul li {
	list-style: none;
	line-height: 50px;	
}
.popup_menu_inner nav ul li a {
	text-decoration: none;	
}
.popup_menu_inner nav ul li span {
	color: white;
	display: flex;
	justify-content: center;
	align-content: center;
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 2px;
	cursor: pointer;
	text-decoration: none;
}
.popup_menu_inner nav ul li span:hover {
	color: #AAAAAA;
}
#wrap_popup_menu i:hover, i:active {  /*BUG: do not active*/
	color: #AAAAAA;
} 

